@import 'https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&subset=cyrillic';
@import 'https://fonts.googleapis.com/css?family=Exo+2:300,400,500,700&subset=cyrillic';

table {
    &.table td {
        word-break: break-all;
    }
}

*:not(i):not(.fa) {
    font-family: "Exo 2", sans-serif !important;
}